
.header-logo{
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.listHeader{
    display: flex;
    height: 100vh;
}
.h-card{
    width: 20rem;
    margin-bottom: 30px;
}
.h-title{
    font-family: 'IBM Plex Mono', monospace;
}
.h-title a{
    text-decoration: none;
    color: #000;
}
.h-description{
    margin-top: 15px;
    font-family: 'IBM Plex Mono', monospace;
}
.article{
    font-family: 'IBM Plex Mono', monospace;
}
.article-link a{
    text-decoration: none;
    font-weight: 900;
}
.strike{
        font-family: 'IBM Plex Mono', monospace;
        width: 100%;
        height: 20px;
        border-bottom: 1px solid black;
        text-align: center;
}
.strike span{
     font-size: 30px;
     background-color: #F3F5F6;
     padding: 0 10px;
}
.monospace{
    font-family: 'IBM Plex Mono', monospace;
}